.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/cnpz-kafka/v17/.suo
cnpz-kafka/bin/
cnpz-kafka/obj/
.vs/cnpz-downloader/DesignTimeBuild/.dtbcache.v2
.vs/cnpz-downloader/v17/.futdcache.v1
.vs/cnpz-downloader/v17/.suo
bin/Debug/net6.0/cnpz-downloader.deps.json
bin/Debug/net6.0/cnpz-downloader.dll
bin/Debug/net6.0/cnpz-downloader.exe
bin/Debug/net6.0/cnpz-downloader.pdb
bin/Debug/net6.0/cnpz-downloader.runtimeconfig.json
bin/Debug/net6.0/HtmlAgilityPack.dll
obj/cnpz-downloader.csproj.nuget.dgspec.json
obj/cnpz-downloader.csproj.nuget.g.props
obj/cnpz-downloader.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/cnpz-downloader.AssemblyInfo.cs
obj/Debug/net6.0/cnpz-downloader.AssemblyInfoInputs.cache
obj/Debug/net6.0/cnpz-downloader.assets.cache
obj/Debug/net6.0/cnpz-downloader.csproj.AssemblyReference.cache
obj/Debug/net6.0/cnpz-downloader.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/cnpz-downloader.csproj.CopyComplete
obj/Debug/net6.0/cnpz-downloader.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/cnpz-downloader.csproj.FileListAbsolute.txt
obj/Debug/net6.0/cnpz-downloader.dll
obj/Debug/net6.0/cnpz-downloader.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/cnpz-downloader.genruntimeconfig.cache
obj/Debug/net6.0/cnpz-downloader.GlobalUsings.g.cs
obj/Debug/net6.0/cnpz-downloader.pdb
obj/Debug/net6.0/ref/cnpz-downloader.dll
obj/Debug/net6.0/refint/cnpz-downloader.dll
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/cnpz-downloader.AssemblyInfo.cs
obj/Release/net6.0/cnpz-downloader.AssemblyInfoInputs.cache
obj/Release/net6.0/cnpz-downloader.assets.cache
obj/Release/net6.0/cnpz-downloader.csproj.AssemblyReference.cache
obj/Release/net6.0/cnpz-downloader.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/cnpz-downloader.GlobalUsings.g.cs
/bin/Debug/net6.0
/out
/obj/Release/net6.0
/bin/Release/net6.0
/Docker/Dockerfile.cs
